# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.next

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# BACKEND - FASTAPI
############################

# Virtual environment
backend/venv/
backend/.venv/
backend/env/

# Python cache
__pycache__/
backend/*.py[cod]

# Env files
# backend/.env
# backend/.env.*

# Logs
backend/*.log
backend/logs/

# Testing & coverage
backend/.coverage
backend/htmlcov/
backend/coverage/


############################
# EDITOR & OS
############################

.DS_Store
Thumbs.db
.vscode/
.idea/
